// Spice Vendor Prefix overides
// --------------------
$defaultVendors   : "";
$animationVendors : "";
$transformVendors : "";

$primary: $col-river-blue;
$secondary: $col-amethyst;

$idebarWidth: 400px;

@include normalise;
@include googleFont('roboto', body button input);

body {
	color:$primary;
	@include verticalRhythm;
}

.centre {
	@include centre;
}
